@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
  height: 100%;
  margin:0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

h1, h2, h3, p, ul, li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  transition: all 0.1s;
}

.header {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
}

.header :nth-child(1) {
  margin-right: auto;
  padding-left: 2%;
}

.header :nth-child(2) {
  margin-right: 19%;
  margin-left: 10%;
  margin-top: 10px;
}

/* Logo */
.header :nth-child(3) {
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header ul {
  padding-right: 2%;
  overflow: hidden;
}

.header #boka {
  background-color: #125446;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header ul li {
  color: #FFF;
  display: inline;
  list-style-type: none;
  margin: 0;
  font-size: 1.5vw;
}

.header ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 2vw !important;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vh;
}


.content h1, h2 {
  font-family: Mulish;
  font-weight: bold;
  color: white;
  padding: 1vw;
  text-align: center;
  font-size: 4vw;
}

.content li {
  margin-bottom: 10px;
}

div .welcomeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
}

div .welcome {
  display: flex;
  margin-top: 16%;
  padding-bottom: 20%;
  flex-direction: column;
  align-items: center;
}

div .welcome h1, p {
  margin:0;
  color: #FFF;
}

div .welcome h1 {
  font-size: 8vw;
  align-self: flex-end;
}

div .welcome p {
  font-family: 'Gill Sans';
  font-style: italic;
  font-weight: lighter;
  font-size: 1.5vw;
  align-self: flex-end;
}

#arrow {
  padding-top: 15vh;
}


div .about{
  background: rgb(0,24,15);
  background: linear-gradient(160deg, rgb(0, 15, 10) 0%, rgb(13, 61, 51) 100%, rgba(23, 50, 46, 0.964) 100%);
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  width: 100%;
}

.pubInfo ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none; 
  padding: 10px;
  }

.pubInfo li {
  padding: 2%;
  width: 100%;  
}

.clicker {
  --fill-color: #125446;
  position: relative;
  display: block;
  padding: 10px;
  margin: 10px;
  font: 700 8.2rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
  color: #DB8C7B;
  transition: 0.5s linear;
  cursor: pointer;
  border: 1px solid #DB8C7B;  
}

.clicker:hover {
  background-size: 100%;
}

.hiddendiv{
  display:none;
  align-content: center;
  max-width: 92%;
  background-color:#EBD2CD;
  padding: 3vh;
  margin: 2%;
}

.clicker:focus + .hiddendiv{
  display: block;
}

.clicker:focus {
  background: #DB8C7B;
  color: #125446;
}

.hiddendiv p {
  font-size: 3vh;
  color: #112221;
  width: 100%;
}

div .calendar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 9vh;
  padding-top: 9vh;
}

.clicker:focus + .hiddendiv2{
  display: block;
}

.hiddendiv2 {
  display:none;
  width: 100%;
  margin-left: 10%;
}

#styret {
  width: 80%;
  align-self: center;
}


#beer h2 {
  padding-top: 20vh;
  font-size: 2vh;
  padding-bottom: 18vh;
}

.confirmBookings{
  width: 90%;
  height: 100%;
  text-align: center;
  overflow: auto;
  justify-content: center;
}

.bookingsTable {
  flex-wrap: wrap;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  text-align: left;
  vertical-align: middle;
  background-color: bisque;
  opacity: 0.9;
  margin: 0 auto;
  margin-bottom: 3vh;
  height: 0%;
  width: 100%;
}

.bookingsTable td, th {
  font-family: Mulish;
  border-bottom: 1px solid white;
  padding: 8px;
  max-width: 10vw;
  overflow: auto;
}

/* Hide scrollbar on checkbox */
.bookingsTable :nth-child(6) {
  overflow: hidden;
}

.bookingsTable thead th {
  width: 25%;
}

.bookingsTable h3 {
  font-family: Mulish;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #125446;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12vh;
  padding-top: 10px;
  text-align: center;
  font-family: 'Mulish', regular;
  font-size: 15px;
  font-weight: lighter;
}

.footer h4, h1 {
  color: white;
  margin: 10px;
}

.footer a {
  color: #DB8C7B;
}

.footer .socialSymbol svg  {
  padding-bottom: 5px;
  padding-right: 10px;
}

.footer .loginSymbol svg {
  padding-right: 10px;
  position: absolute;
  right:0;
  cursor: pointer;
}

.contentCalender .footer {
  position: fixed;
}

button {
  background: orange;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
}

button:hover{
  background: #bf1650;
  transition: 0.3s all;
}

input[type="button"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}


@media only screen and (max-width: 1000px) {

  /* Menu items */
  .header ul li {
    font-size: 5vw;
    padding: 0vw;
  }

  .header .logo{
    height: 100px;
  }

  /* Logo */
  .header :nth-child(2) {
    margin-right: 40%;
    width: 0vw;
    padding: 0vw;
  }

  .content h1 {
    font-size: 10vw;
  }

  div .welcome {
    margin-top: 25vh;
    padding-bottom: 55vh;
  }

  div .welcome h1 {
    font-size: 13vw;
  }

  div .welcome p {
    font-size: 4vw;
  }
  
  .styret {
    min-height: 40vh;
    justify-content: center;
  }

  .styret img {
    width: 80vw;
    border-radius: 1vw 1vw 1vw;
  }

  div .about p{
    font-size: 4vw;
  }

  div .about h1 {
    font-size: 5vw;
  }

  div .about h2 {
    font-size: 5vw;
  }

  div .pubInfo{
    margin: 5vw;
    padding: 2vw;
  }

  #beer {
    margin-top: 10vh;
  }

  .bookingsTable td, th{
    font-family: Mulish;
    overflow: hidden;
    padding: 1vw;
    text-align: center;
    font-size: 2.3vw;
  }

  .bookingsTable td:nth-child(n+2):nth-child(-n+6), 
                th:nth-child(n+2):nth-child(-n+6){
    display:none;
  }

  tbody button {
    max-width:80%;
    overflow: hidden;
    font-size: 2vw;
  }

  .footer {
    height: 13vh;
  }

  .footer h1 {
    font-size: 2vh;
  }
  
  div .calendar{
    padding-bottom: 0vh;
  }

}
